body{
    margin: 0;
    padding: 0;
}
footer{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    box-shadow: rgba(5, 5, 5, 0.2) 0px 7px 29px 0px;
    /* background-image: url("./media/background3.jpg");
    opacity: 20%;
    */
}

.footer_logo p{
    font-size: 13px;
    margin-top: 20px;
    color: rgb(46, 46, 46);
}
.footer_logo img{
    width: 100%;
}
.footer_logo{
    margin-top: 40px;
    margin-bottom: 30px;
}
.Catalog_div{
    margin-top: 40px;
    margin-bottom: 30px;
}
.Catalog_div h6{
    font-weight: bold;
     color: rgb(233, 98, 35);
}

.Catalog_div p{
    color: rgb(46, 46, 46);
    font-size: 13px;
    padding: 4px    ;
    margin: 0;

}
.footer_link{
    color: rgb(46, 46, 46);
    text-decoration: none;

}
.footer_link:hover{
    color: rgb(233, 98, 35);
    text-decoration: underline;

}

.Catalog_div p:hover{
    color: rgb(233, 98, 35);
    padding: 4px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.05);
}

/* footer_icons-div */

.footer_icons-div{
    height: 70px;
    /* background-color: rgb(53, 55, 56); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: rgb(46, 46, 46);
}
.footer_icons-div p{
    width: 300px;
    text-align: center;
     margin: auto;
    /* background-color: aliceblue; */
}
.footer_icons-div img{
    width: 150px;
}
.socal_media-icons{
   gap: 7px;
    display: flex; 
 
}
.socal_media-icons i:hover{
  background-color: rgb(233, 98, 35);
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.socal_media-icons i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(73, 73, 73);
    background-color: rgba(34, 34, 34, 0.63);
    border-radius: 50%;
}

@media (max-width: 768px) {
    .footer_icons-div{
        display: inline;
    
    }
    .socal_media-icons {
        gap: 7px;
        display: flex;
        justify-content: center;
    }
    .footer_icons-div p{
        padding-top: 15px;
    }
    .footer_logo p{
    text-align: center;
    padding: 5px;
    font-size: 15px;
    }
    .footer_icons-div{
        text-align: center;
    }
    .footer_logo p {
        font-size: 13px;
        margin-top: 0;
      }
      .footer_logo {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}